@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
#nprogress .bar {
  background: #FF7A18 !important; /* brand orange */
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FF7A18, 0 0 5px #FF7A18;
}
@keyframes float {
  0%   { transform: translateY(0) translateX(0); opacity: .3; }
  50%  { opacity: .8; }
  100% { transform: translateY(-120px) translateX(40px); opacity: .3; }
}

.animate-float {
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes waveSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes waveFast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-wave-slow {
  animation: waveSlow 20s linear infinite;
}

.animate-wave-fast {
  animation: waveFast 12s linear infinite;
}
